{% extends 'base.html' %}

{% block content %}
<div id="cart-container" class="container">
    <form method="POST" action="{% url 'store:update-quantities' %}">
        {% csrf_token %}
        {{ forms.management_form }}
        {% for form in forms %}
            <div>
                <h3>{{ form.instance.offer.offer_name }}</h3>
                <p>{{ form.instance.offer.offer_description }}</p>
                {{ form.as_p }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary button-width">Mettre à jour les quantités</button>
    </form>

    {% comment %} later it will redirect to stripe {% endcomment %}
    <form action="{% url 'store:create-checkout-session' %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary button-width">Procéder au paiement</button>
    </form>
    <a href="{% url 'store:delete-cart' %}" class="btn btn-lg btn-block btn-outline-secondary button-width">Supprimer le panier</a>
</div>

{% endblock %}