{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <h1 class="h3 mb-3 fw-normal">Mon profil</h1>
        <form method="POST">
            <h2>Mes informations</h2>
            {% csrf_token %}
                {{ form }}
                {% if messages %}
                <div id="messages">
                    {% for message in messages%}
                        {{ message }}
                        <div class="alert alert-info message {{ message.tags }}" role="alert"></div>
                    {% endfor %}
                </div>
                {% endif %}

            <button type="submit" class="w-100 btn btn-lg btn-primary">Mettre à jour</button>
        </form>
        <div id="orders-list">
            <h2>Mes commandes</h2>
            <ul>
            {% for order in orders %}
            <li>
                <p>{{ order.offer.offer_name }} ({{ order.quantity }}) {% if order.ordered_date %}le {{ order.ordered_date }}{% endif %}.</p>
                <p>QR Code correspondant: <img src="{{ order.generated_qr_code }}" alt="QR code de la commande"></p>
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock%}
