form button {
    margin-top: 20px;
}

#offer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#cart-container {
    display: grid;
    gap: 15px;
    justify-items: start;
}

#checkout-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

#checkout-buttons {
    padding-top: 15px;
}

#checkout-buttons a {
    margin: 10px;
}

.button-width {
    width: 20rem;
}

#messages {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}

.message {
    position: absolute;
    top: 25%;
    left: 45%
}

.success { 
    background-color: #5cb85c;
    color: #216e28	;
}

.error { 
    background-color: #d9534f;
    color: #4b0000,
}

.hidden { display: none; }
