#offer-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

#cart-container {
    display: grid;
    gap: 15px;
    justify-items: start;
}

.button-width {
    width: 20rem;
}
